<aside class="hidden md:block col-span-1 border-r pt-4">
  <%= render "playlists/playlists" %>
</aside>
<section class="col-span-5 md:col-span-4 pt-4">
  <div class="rounded-md">
    <div class="w-full flex px-6 py-2 justify-between border-b">
      <h1 class="font-bold">Tracks</h1>
    </div>
    <div class="flex">
      <div class="w-full">
        <div class="w-full h-full flex">
          <%= render_table do %>
            <%= table_head do %>
              <%= table_header "", class: "w-1" %>
              <%= table_header class: "" do %>
                Title
              <% end %>
            <% end %>
            <%= table_body do %>
              <%= render partial: "row", collection: @tracks %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
